.viewPassword-1234-qwerty-password-menu{
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 25px;
  border: 0.5px solid grey;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: max-content;
}

.viewPassword-1234-qwerty-password-wrapper{
  padding: 2px;
}

.viewPassword-1234-qwerty-password-wrapper::after{
  content:url('chrome-extension://__MSG_@@extension_id__/eye_slash.svg');
  width: 25px;
  height: 25px;
}


.viewPassword-1234-qwerty-password-wrapper.viewPassword-1234-qwerty-password-show::after{
  content:url('chrome-extension://__MSG_@@extension_id__/eye.svg');
}
