.viewPassword-1234-qwerty-password-wrapper{
  /* display:contents; */ /* May change Element */
  position: relative;
}

.viewPassword-1234-qwerty-password-wrapper::after{
  content:url('chrome-extension://__MSG_@@extension_id__/eye.png');;
  position:absolute;
  top:0;
  left: 100%;
}
